.va-select-option-list__option {
  color: var(--va-select-dropdown-text) !important;
}

.va-dropdown__content {
  color: var(--va-dropdown-content-text) !important;
}

.va-switch__inner {
  height: 2.25rem;
}

:root {
  --va-input-error-background: var(--va-input-color);
  --va-modal-dialog-box-shadow: 0;
}